/* Home */
.homeBackground {
  background-image: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.bmovies {
  color: #FFF2B4;
  font-family: 'Segoe UI', Tahoma; 
  display: flex;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  margin-right: 5em;
}

a:link {
  text-decoration: none;
}

@keyframes fadeInOpacity {
0% {
  opacity: 0;
  }
100% {
  opacity: 1;
}
}

.checkOutMovies {
  font-family: 'Segoe UI', Tahoma;
  font-size: 20px;
  border-radius: 5px;
  background-color: #738C96;
  color: #FFF2B4;
  display: flex;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  width: 10em;
  height: 3em;
  text-decoration: none;
}

.checkOutMovies span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.checkOutMovies span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  text-decoration: none;
}

.checkOutMovies:hover span {
  padding-right: 25px;
  text-decoration: none;
}

.checkOutMovies:hover span:after {
  opacity: 1;
  right: 0;
  text-decoration: none;
}

/* Header  */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkseagreen;
  font-family: 'Acme', sans-serif;
  /* position: fixed;
  top: 0; 
  width: 100%;  */
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma;
}

ul.topnav li a:hover {
  background-color: #738C96;
  color: white;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/* Movies  */
li {
  display: inline-block;
  margin: 10px; 
}

#descriptions {
  border: none;
  font-size: 20px;
  font-weight: bold;
}

button {
  width: 50%;
}