/* Home */
.homeBackground {
  background-image: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    /* opacity: .5; */
}

/* .movieBackground {
    background-image: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
    position: relative;
      width: 100vw;
      height: 100vh;
      padding: 0;
      background-size: cover;
      background-position: center;
      opacity: .5;
  } */

h1 {
 color: white;
 opacity: 1;
}

/* Movies  */
li {
  display: inline-block;
  margin: 10px; 
}

#descriptions {
  border: none;
  font-size: 20px;
  font-weight: bold;
}